<a href="https://colab.research.google.com/github/NileshCT/EDA_PROJECT/blob/main/GroupBy_Pandas_replace_fillna_dropna.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns

In [ ]:

# df = pd.DataFrame({
#     "country" : ["United States", "Canada", "United Kingdom", "France", "Germany", "China", "Japan", "South Korea"],
#     "continent" : ["North America", "North America", "Europe", "Europe", "Europe", "Asia", "Asia", "Asia"],
#     "population" : [332722557, 38711108, 67081234, 67853000, 83222442, 1412600000, 125502000, 51745000],
#     "area" : [3796742, 3855100, 93628, 247368, 137882, 3705407, 145937, 38690],
#     "population percentage of world": [4.18, 0.487, 0.843, 0.853, 1.05, 17.8, 1.58, 0.650]})
# df

In [ ]:

# importing pandas module
import pandas as pd

# Define a dictionary containing employee data
data1 = {'Name':['Jai', 'Anuj', 'Jai', 'Princi',
				'Gaurav', 'Anuj', 'Princi', 'Abhi'],
		'Age':[27, 24, 22, 32,
			33, 36, 27, 32],
		'Address':['Nagpur', 'Kanpur', 'Allahabad', 'Kannuaj',
				'Jaunpur', 'Kanpur', 'Allahabad', 'Aligarh'],
		'Qualification':['Msc', 'MA', 'MCA', 'Phd',
						'B.Tech', 'B.com', 'Msc', 'MA']}
	

# Convert the dictionary into DataFrame
df = pd.DataFrame(data1)

print(df)

     Name  Age    Address Qualification
0     Jai   27     Nagpur           Msc
1    Anuj   24     Kanpur            MA
2     Jai   22  Allahabad           MCA
3  Princi   32    Kannuaj           Phd
4  Gaurav   33    Jaunpur        B.Tech
5    Anuj   36     Kanpur         B.com
6  Princi   27  Allahabad           Msc
7    Abhi   32    Aligarh            MA

# **Groupby with one key argument**

In [ ]:
print(df.groupby('Name').groups)

{'': [1, 3], 'Abhi': [7], 'Anuj': [5], 'Gaurav': [4], 'Jai': [0, 2], 'Princi': [6]}

In [ ]:
print(df.groupby("Age").groups)

{22: [2], 24: [1], 27: [0, 6], 32: [3, 7], 33: [4], 36: [5]}

In [ ]:
print(df.groupby("Address").groups)

{'Aligarh': [7], 'Allahabad': [2, 6], 'Jaunpur': [4], 'Kannuaj': [3], 'Kanpur': [1, 5], 'Nagpur': [0]}

In [ ]:
print(df.groupby("Qualification").groups)

{'B.Tech': [4], 'B.com': [5], 'MA': [1, 7], 'MCA': [2], 'Msc': [0, 6], 'Phd': [3]}

**GroupBy with 1 key and print first entries.**

In [ ]:
gk=df.groupby("Name")
gk.first()

        Age  Address Qualification
Name
Abhi     32  Aligarh            MA
Anuj     24   Kanpur            MA
Gaurav   33  Jaunpur        B.Tech
Jai      27   Nagpur           Msc
Princi   32  Kannuaj           Phd

In [ ]:
gk=df.groupby("Name")
gk.last()

        Age    Address Qualification
Name
Abhi     32    Aligarh            MA
Anuj     36     Kanpur         B.com
Gaurav   33    Jaunpur        B.Tech
Jai      22  Allahabad           MCA
Princi   27  Allahabad           Msc

In [ ]:
gk=df.groupby("Name")
gk.sample()

     Name  Age    Address Qualification
7    Abhi   32    Aligarh            MA
1    Anuj   24     Kanpur            MA
4  Gaurav   33    Jaunpur        B.Tech
2     Jai   22  Allahabad           MCA
3  Princi   32    Kannuaj           Phd

In [ ]:
gk=df.groupby(["Name","Qualification"])
print(gk.groups)

{('Abhi', 'MA'): [7], ('Anuj', 'B.com'): [5], ('Anuj', 'MA'): [1], ('Gaurav', 'B.Tech'): [4], ('Jai', 'MCA'): [2], ('Jai', 'Msc'): [0], ('Princi', 'Msc'): [6], ('Princi', 'Phd'): [3]}

In [ ]:
gk=df.groupby(["Name","Age"])
print(gk.groups)

{('Abhi', 32): [7], ('Anuj', 24): [1], ('Anuj', 36): [5], ('Gaurav', 33): [4], ('Jai', 22): [2], ('Jai', 27): [0], ('Princi', 27): [6], ('Princi', 32): [3]}

In [ ]:
# importing pandas module
import pandas as pd

# Define a dictionary containing employee data
data1 = {'Name':['Jai', 'Anuj', 'Jai', 'Princi',
				'Gaurav', 'Anuj', 'Princi', 'Abhi'],
		'Age':[27, 24, 22, 32,
			33, 36, 27, 32],
		'Address':['Nagpur', 'Kanpur', 'Allahabad', 'Kannuaj',
				'Jaunpur', 'Kanpur', 'Allahabad', 'Aligarh'],
		'Qualification':['Msc', 'MA', 'MCA', 'Phd',
						'B.Tech', 'B.com', 'Msc', 'MA']}
	

# Convert the dictionary into DataFrame
df = pd.DataFrame(data1)

print(df)

     Name  Age    Address Qualification
0     Jai   27     Nagpur           Msc
1    Anuj   24     Kanpur            MA
2     Jai   22  Allahabad           MCA
3  Princi   32    Kannuaj           Phd
4  Gaurav   33    Jaunpur        B.Tech
5    Anuj   36     Kanpur         B.com
6  Princi   27  Allahabad           Msc
7    Abhi   32    Aligarh            MA

In [ ]:
print(df)

     Name  Age    Address Qualification
0     Jai   27     Nagpur           Msc
1    Anuj   24     Kanpur            MA
2     Jai   22  Allahabad           MCA
3  Princi   32    Kannuaj           Phd
4  Gaurav   33    Jaunpur        B.Tech
5    Anuj   36     Kanpur         B.com
6  Princi   27  Allahabad           Msc
7    Abhi   32    Aligarh            MA

In [ ]:
df.groupby(["Age"])["Name"].sum()

Age
22           Jai
24          Anuj
27     JaiPrinci
32    PrinciAbhi
33        Gaurav
36          Anuj
Name: Name, dtype: object

In [ ]:
gk=df.groupby(["Name","Age"]).sum()
gk

              Address Qualification
Name   Age
Abhi   32     Aligarh            MA
Anuj   24      Kanpur            MA
       36      Kanpur         B.com
Gaurav 33     Jaunpur        B.Tech
Jai    22   Allahabad           MCA
       27      Nagpur           Msc
Princi 27   Allahabad           Msc
       32     Kannuaj           Phd

In [ ]:
df.groupby(["Name"])["Qualification"].count()

Name
Abhi      1
Anuj      2
Gaurav    1
Jai       2
Princi    2
Name: Qualification, dtype: int64

In [ ]:
df['Age'] = pd.to_numeric(df['Age'])

In [ ]:
df.describe()

             Age
count   8.000000
mean   29.125000
std     4.853202
min    22.000000
25%    26.250000
50%    29.500000
75%    32.250000
max    36.000000

In [ ]:
df.groupby(["Name"])["Age"].mean()

Name
Abhi      32.0
Anuj      30.0
Gaurav    33.0
Jai       24.5
Princi    29.5
Name: Age, dtype: float64

In [ ]:
df

     Name  Age    Address Qualification
0     Jai   27     Nagpur           Msc
1    Anuj   24     Kanpur            MA
2     Jai   22  Allahabad           MCA
3  Princi   32    Kannuaj           Phd
4  Gaurav   33    Jaunpur        B.Tech
5    Anuj   36     Kanpur         B.com
6  Princi   27  Allahabad           Msc
7    Abhi   32    Aligarh            MA

In [ ]:
df.groupby(["Name"])["Age"].max()

Name
Abhi      32
Anuj      36
Gaurav    33
Jai       27
Princi    32
Name: Age, dtype: int64

In [ ]:
df.head()

     Name  Age    Address Qualification
0     Jai   27     Nagpur           Msc
1    Anuj   24     Kanpur            MA
2     Jai   22  Allahabad           MCA
3  Princi   32    Kannuaj           Phd
4  Gaurav   33    Jaunpur        B.Tech

In [ ]:
df1=df.copy()

In [ ]:
# importing pandas module
import pandas as pd

# Define a dictionary containing employee data
data1 = {'Name':['Jai', '', 'Jai', '',
				'Gaurav', 'Anuj', 'Princi', 'Abhi'],
		'Age':[27,'',22, 32,
			33, 36,"",32],
		'Address':['Nagpur', 'Kanpur', 'Allahabad', 'Kannuaj',
				'Jaunpur', 'Kanpur', 'Allahabad', 'Aligarh'],
		'Qualification':['Msc', 'MA', 'MCA', 'Phd',
						'B.Tech', 'B.com', 'Msc', 'MA']}
	

# Convert the dictionary into DataFrame
df1= pd.DataFrame(data1)

print(df1)

     Name Age    Address Qualification
0     Jai  27     Nagpur           Msc
1                 Kanpur            MA
2     Jai  22  Allahabad           MCA
3          32    Kannuaj           Phd
4  Gaurav  33    Jaunpur        B.Tech
5    Anuj  36     Kanpur         B.com
6  Princi      Allahabad           Msc
7    Abhi  32    Aligarh            MA

In [ ]:
df.groupby(["Name"])["Age"].sum()

Name
Abhi      32
Anuj      60
Gaurav    33
Jai       49
Princi    59
Name: Age, dtype: int64

In [ ]:
df.groupby(["Address"])
print(df.groupby(["Address"]).groups)

{'Aligarh': [7], 'Allahabad': [2, 6], 'Jaunpur': [4], 'Kannuaj': [3], 'Kanpur': [1, 5], 'Nagpur': [0]}

In [ ]:
print(df.groupby(["Age"]).groups)

{22: [2], 24: [1], 27: [0, 6], 32: [3, 7], 33: [4], 36: [5]}

In [ ]:
df.groupby('Name').mean().add_prefix("mean_")

        mean_Age
Name
Abhi        32.0
Anuj        30.0
Gaurav      33.0
Jai         24.5
Princi      29.5

In [ ]:
df.groupby("Name")["Age"].mean()

Name
Abhi      32.0
Anuj      30.0
Gaurav    33.0
Jai       24.5
Princi    29.5
Name: Age, dtype: float64

In [ ]:
df.groupby(["Name"])["Age"].agg(["min","max","mean","count","std"])

        min  max  mean  count       std
Name
Abhi     32   32  32.0      1       NaN
Anuj     24   36  30.0      2  8.485281
Gaurav   33   33  33.0      1       NaN
Jai      22   27  24.5      2  3.535534
Princi   27   32  29.5      2  3.535534

In [ ]:
df.groupby(["Name"]).agg({"Age":"mean"})

         Age
Name
Abhi    32.0
Anuj    30.0
Gaurav  33.0
Jai     24.5
Princi  29.5

In [ ]:
df1.dropna()

     Name Age    Address Qualification
0     Jai  27     Nagpur           Msc
1                 Kanpur            MA
2     Jai  22  Allahabad           MCA
3          32    Kannuaj           Phd
4  Gaurav  33    Jaunpur        B.Tech
5    Anuj  36     Kanpur         B.com
6  Princi      Allahabad           Msc
7    Abhi  32    Aligarh            MA

In [ ]:
df1.head()

     Name Age    Address Qualification
0     Jai  27     Nagpur           Msc
1                 Kanpur            MA
2     Jai  22  Allahabad           MCA
3          32    Kannuaj           Phd
4  Gaurav  33    Jaunpur        B.Tech

In [ ]:
df1.dropna(axis=1)

     Name Age    Address Qualification
0     Jai  27     Nagpur           Msc
1                 Kanpur            MA
2     Jai  22  Allahabad           MCA
3          32    Kannuaj           Phd
4  Gaurav  33    Jaunpur        B.Tech
5    Anuj  36     Kanpur         B.com
6  Princi      Allahabad           Msc
7    Abhi  32    Aligarh            MA

In [ ]:
df1.head()

     Name Age    Address Qualification
0     Jai  27     Nagpur           Msc
1                 Kanpur            MA
2     Jai  22  Allahabad           MCA
3          32    Kannuaj           Phd
4  Gaurav  33    Jaunpur        B.Tech

In [ ]:
df.groupby("Name").mean()

         Age
Name
Abhi    32.0
Anuj    30.0
Gaurav  33.0
Jai     24.5
Princi  29.5

In [ ]:
df1

     Name Age    Address Qualification
0     Jai  27     Nagpur           Msc
1                 Kanpur            MA
2     Jai  22  Allahabad           MCA
3          32    Kannuaj           Phd
4  Gaurav  33    Jaunpur        B.Tech
5    Anuj  36     Kanpur         B.com
6  Princi      Allahabad           Msc
7    Abhi  32    Aligarh            MA

In [ ]:
df1.fillna("Name")

     Name Age    Address Qualification
0     Jai  27     Nagpur           Msc
1                 Kanpur            MA
2     Jai  22  Allahabad           MCA
3          32    Kannuaj           Phd
4  Gaurav  33    Jaunpur        B.Tech
5    Anuj  36     Kanpur         B.com
6  Princi      Allahabad           Msc
7    Abhi  32    Aligarh            MA

In [ ]:
df1["Age"]=df["Age"].fillna(100)
df1

     Name  Age    Address Qualification
0     Jai   27     Nagpur           Msc
1           24     Kanpur            MA
2     Jai   22  Allahabad           MCA
3           32    Kannuaj           Phd
4  Gaurav   33    Jaunpur        B.Tech
5    Anuj   36     Kanpur         B.com
6  Princi   27  Allahabad           Msc
7    Abhi   32    Aligarh            MA

In [ ]:
df1["Name"]=df["Name"].fillna("Nil")
df1.head()

     Name  Age    Address Qualification
0     Jai   27     Nagpur           Msc
1    Anuj   24     Kanpur            MA
2     Jai   22  Allahabad           MCA
3  Princi   32    Kannuaj           Phd
4  Gaurav   33    Jaunpur        B.Tech

In [ ]:
#Replace method(df2)

In [ ]:
df2=df.copy()

In [ ]:
#replaceing null values with no name with replace method
df2["Name"].replace("","no value",inplace=True)

In [ ]:
import numpy as np
from scipy import stats

In [ ]:
#mode value 
mode1 = stats.mode(df2["Name"])
print(mode1[0][0])

Jai

<ipython-input-25-f935e4bb530d>:2: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode1 = stats.mode(df2["Name"])
<ipython-input-25-f935e4bb530d>:2: DeprecationWarning: Support for non-numeric arrays has been deprecated as of SciPy 1.9.0 and will be removed in 1.11.0. `pandas.DataFrame.mode` can be used instead, see https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.mode.html.
  mode1 = stats.mode(df2["Name"])

In [ ]:
# ##replaceing null values with modal value with replace method.
# df2["Name"].replace('no value',np.mode(df2['Name']))
df2["Name"].replace("no value",str(mode1[0][0]))

0       Jai
1       Jai
2       Jai
3       Jai
4    Gaurav
5      Anuj
6    Princi
7      Abhi
Name: Name, dtype: object

In [ ]:
df2["Name"]

0         Jai
1    no value
2         Jai
3    no value
4      Gaurav
5        Anuj
6      Princi
7        Abhi
Name: Name, dtype: object

In [ ]:
#fillna method(df3)

In [ ]:
df3=df.copy()

In [ ]:
print(df3)

     Name Age    Address Qualification
0     Jai  27     Nagpur           Msc
1                 Kanpur            MA
2     Jai  22  Allahabad           MCA
3          32    Kannuaj           Phd
4  Gaurav  33    Jaunpur        B.Tech
5    Anuj  36     Kanpur         B.com
6  Princi      Allahabad           Msc
7    Abhi  32    Aligarh            MA

In [ ]:
df3.replace("",np.nan,inplace=True)

In [ ]:
df3["Age"].fillna(np.mean(df3["Age"]))

0    27.000000
1    30.333333
2    22.000000
3    32.000000
4    33.000000
5    36.000000
6    30.333333
7    32.000000
Name: Age, dtype: float64

In [ ]:
# importing pandas module
import pandas as pd

# Define a dictionary containing employee data
data1 = {'Name':['Jai', '', 'Jai', '',
				'Gaurav', 'Anuj', 'Princi', 'Abhi'],
		'Age':[27,'','', 32,
			33, 36,12,32],
		'Address':['Nagpur', 'Kanpur', 'Allahabad', 'Kannuaj',
				'Jaunpur', 'Kanpur', 'Allahabad', 'Aligarh'],
		'Qualification':['Msc', 'MA', 'MCA', 'Phd',
						'B.Tech', 'B.com', 'Msc', 'MA']}
	

# Convert the dictionary into DataFrame
df = pd.DataFrame(data1)

print(df)

     Name Age    Address Qualification
0     Jai  27     Nagpur           Msc
1                 Kanpur            MA
2     Jai      Allahabad           MCA
3          32    Kannuaj           Phd
4  Gaurav  33    Jaunpur        B.Tech
5    Anuj  36     Kanpur         B.com
6  Princi  12  Allahabad           Msc
7    Abhi  32    Aligarh            MA

In [ ]:
#for both b and f fill
df4=df.copy()

In [ ]:
df4["Age"].replace('',np.nan,inplace=True)
df4["Age"]
data=df4.bfill().ffill()
data

     Name   Age    Address Qualification
0     Jai  27.0     Nagpur           Msc
1          32.0     Kanpur            MA
2     Jai  32.0  Allahabad           MCA
3          32.0    Kannuaj           Phd
4  Gaurav  33.0    Jaunpur        B.Tech
5    Anuj  36.0     Kanpur         B.com
6  Princi  12.0  Allahabad           Msc
7    Abhi  32.0    Aligarh            MA

In [144]:
df.groupby(["Name"])["Age"].mean()

Name
Abhi      32.0
Anuj      30.0
Gaurav    33.0
Jai       24.5
Princi    29.5
Name: Age, dtype: float64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Name           8 non-null      object
 1   Age            8 non-null      object
 2   Address        8 non-null      object
 3   Qualification  8 non-null      object
dtypes: object(4)
memory usage: 384.0+ bytes

# **Fillna()**

In [116]:
# importing pandas module
import pandas as pd

# Define a dictionary containing employee data
data1 = {'Name':['Jai',np.nan, 'Jai', 'Princi',
				'Gaurav', 'Anuj', 'Princi',np.nan],
		'Age':[27, 24, 22,np.nan,
			33, 36,np.nan, 32],
		'Address':['Nagpur', 'Kanpur', 'Allahabad', 'Kannuaj',
				'Jaunpur',np.nan, 'Allahabad',np.nan],
		'marks':[np.nan,98,57,100,
						90,45,34,85]}
	

# Convert the dictionary into DataFrame
df6 = pd.DataFrame(data1)

print(df6)

     Name   Age    Address  marks
0     Jai  27.0     Nagpur    NaN
1     NaN  24.0     Kanpur   98.0
2     Jai  22.0  Allahabad   57.0
3  Princi   NaN    Kannuaj  100.0
4  Gaurav  33.0    Jaunpur   90.0
5    Anuj  36.0        NaN   45.0
6  Princi   NaN  Allahabad   34.0
7     NaN  32.0        NaN   85.0

In [121]:
df6["Name"].fillna("Nil")

0       Jai
1       Nil
2       Jai
3    Princi
4    Gaurav
5      Anuj
6    Princi
7       Nil
Name: Name, dtype: object

In [122]:
df6["Age"].fillna(df6["Age"].max())

0    27.0
1    24.0
2    22.0
3    36.0
4    33.0
5    36.0
6    36.0
7    32.0
Name: Age, dtype: float64

In [128]:
df6.fillna({"Age":0,"marks":101})

     Name   Age    Address  marks
0     Jai  27.0     Nagpur  101.0
1     NaN  24.0     Kanpur   98.0
2     Jai  22.0  Allahabad   57.0
3  Princi   0.0    Kannuaj  100.0
4  Gaurav  33.0    Jaunpur   90.0
5    Anuj  36.0        NaN   45.0
6  Princi   0.0  Allahabad   34.0
7     NaN  32.0        NaN   85.0

In [131]:
df6["marks"].fillna(method="bfill")

0     98.0
1     98.0
2     57.0
3    100.0
4     90.0
5     45.0
6     34.0
7     85.0
Name: marks, dtype: float64

In [135]:
df6.fillna(method='pad')

     Name   Age    Address  marks
0     Jai  27.0     Nagpur    NaN
1     Jai  24.0     Kanpur   98.0
2     Jai  22.0  Allahabad   57.0
3  Princi  22.0    Kannuaj  100.0
4  Gaurav  33.0    Jaunpur   90.0
5    Anuj  36.0    Jaunpur   45.0
6  Princi  36.0  Allahabad   34.0
7  Princi  32.0  Allahabad   85.0

In [136]:
df6

     Name   Age    Address  marks
0     Jai  27.0     Nagpur    NaN
1     NaN  24.0     Kanpur   98.0
2     Jai  22.0  Allahabad   57.0
3  Princi   NaN    Kannuaj  100.0
4  Gaurav  33.0    Jaunpur   90.0
5    Anuj  36.0        NaN   45.0
6  Princi   NaN  Allahabad   34.0
7     NaN  32.0        NaN   85.0

In [139]:
df6["Name"].fillna("no values")

0          Jai
1    no values
2          Jai
3       Princi
4       Gaurav
5         Anuj
6       Princi
7    no values
Name: Name, dtype: object

In [143]:
df6.fillna(1)

     Name   Age    Address  marks
0     Jai  27.0     Nagpur    1.0
1       1  24.0     Kanpur   98.0
2     Jai  22.0  Allahabad   57.0
3  Princi   1.0    Kannuaj  100.0
4  Gaurav  33.0    Jaunpur   90.0
5    Anuj  36.0          1   45.0
6  Princi   1.0  Allahabad   34.0
7       1  32.0          1   85.0

In [142]:
df6.replace(to_replace=np.nan,value=1)

     Name   Age    Address  marks
0     Jai  27.0     Nagpur    1.0
1       1  24.0     Kanpur   98.0
2     Jai  22.0  Allahabad   57.0
3  Princi   1.0    Kannuaj  100.0
4  Gaurav  33.0    Jaunpur   90.0
5    Anuj  36.0          1   45.0
6  Princi   1.0  Allahabad   34.0
7       1  32.0          1   85.0

In [145]:
df6["Age"].fillna(np.mean(df6["Age"]))

0    27.0
1    24.0
2    22.0
3    29.0
4    33.0
5    36.0
6    29.0
7    32.0
Name: Age, dtype: float64

# **Dropna()**

In [146]:
df6.dropna()

     Name   Age    Address  marks
2     Jai  22.0  Allahabad   57.0
4  Gaurav  33.0    Jaunpur   90.0

In [147]:
df6.dropna(axis=1)

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7]

In [149]:
df6.dropna(how='all')

     Name   Age    Address  marks
0     Jai  27.0     Nagpur    NaN
1     NaN  24.0     Kanpur   98.0
2     Jai  22.0  Allahabad   57.0
3  Princi   NaN    Kannuaj  100.0
4  Gaurav  33.0    Jaunpur   90.0
5    Anuj  36.0        NaN   45.0
6  Princi   NaN  Allahabad   34.0
7     NaN  32.0        NaN   85.0