<a href="https://colab.research.google.com/github/NileshCT/EDA_PROJECT/blob/main/GroupBy_Pandas_replace_fillna_dropna.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
import numpy as np
import seaborn as sns

In [3]:

# df = pd.DataFrame({
#     "country" : ["United States", "Canada", "United Kingdom", "France", "Germany", "China", "Japan", "South Korea"],
#     "continent" : ["North America", "North America", "Europe", "Europe", "Europe", "Asia", "Asia", "Asia"],
#     "population" : [332722557, 38711108, 67081234, 67853000, 83222442, 1412600000, 125502000, 51745000],
#     "area" : [3796742, 3855100, 93628, 247368, 137882, 3705407, 145937, 38690],
#     "population percentage of world": [4.18, 0.487, 0.843, 0.853, 1.05, 17.8, 1.58, 0.650]})
# df

In [2]:

# importing pandas module
import pandas as pd

# Define a dictionary containing employee data
data1 = {'Name':['Jai', 'Anuj', 'Jai', 'Princi',
				'Gaurav', 'Anuj', 'Princi', 'Abhi'],
		'Age':[27, 24, 22, 32,
			33, 36, 27, 32],
		'Address':['Nagpur', 'Kanpur', 'Allahabad', 'Kannuaj',
				'Jaunpur', 'Kanpur', 'Allahabad', 'Aligarh'],
		'Qualification':['Msc', 'MA', 'MCA', 'Phd',
						'B.Tech', 'B.com', 'Msc', 'MA']}
	

# Convert the dictionary into DataFrame
df = pd.DataFrame(data1)

print(df)

     Name  Age    Address Qualification
0     Jai   27     Nagpur           Msc
1    Anuj   24     Kanpur            MA
2     Jai   22  Allahabad           MCA
3  Princi   32    Kannuaj           Phd
4  Gaurav   33    Jaunpur        B.Tech
5    Anuj   36     Kanpur         B.com
6  Princi   27  Allahabad           Msc
7    Abhi   32    Aligarh            MA

# **Groupby with one key argument**

In [5]:
print(df.groupby('Name').groups)

{'Abhi': [7], 'Anuj': [1, 5], 'Gaurav': [4], 'Jai': [0, 2], 'Princi': [3, 6]}

In [6]:
print(df.groupby("Age").groups)

{22: [2], 24: [1], 27: [0, 6], 32: [3, 7], 33: [4], 36: [5]}

In [7]:
print(df.groupby("Address").groups)

{'Aligarh': [7], 'Allahabad': [2, 6], 'Jaunpur': [4], 'Kannuaj': [3], 'Kanpur': [1, 5], 'Nagpur': [0]}

In [8]:
print(df.groupby("Qualification").groups)

{'B.Tech': [4], 'B.com': [5], 'MA': [1, 7], 'MCA': [2], 'Msc': [0, 6], 'Phd': [3]}

**GroupBy with 1 key and print first entries.**

In [9]:
gk=df.groupby("Name")
gk.first()

        Age  Address Qualification
Name
Abhi     32  Aligarh            MA
Anuj     24   Kanpur            MA
Gaurav   33  Jaunpur        B.Tech
Jai      27   Nagpur           Msc
Princi   32  Kannuaj           Phd

In [10]:
gk=df.groupby("Name")
gk.last()

        Age    Address Qualification
Name
Abhi     32    Aligarh            MA
Anuj     36     Kanpur         B.com
Gaurav   33    Jaunpur        B.Tech
Jai      22  Allahabad           MCA
Princi   27  Allahabad           Msc

In [11]:
gk=df.groupby("Name")
gk.sample()

     Name  Age  Address Qualification
7    Abhi   32  Aligarh            MA
5    Anuj   36   Kanpur         B.com
4  Gaurav   33  Jaunpur        B.Tech
0     Jai   27   Nagpur           Msc
3  Princi   32  Kannuaj           Phd

In [12]:
gk=df.groupby(["Name","Qualification"])
print(gk.groups)

{('Abhi', 'MA'): [7], ('Anuj', 'B.com'): [5], ('Anuj', 'MA'): [1], ('Gaurav', 'B.Tech'): [4], ('Jai', 'MCA'): [2], ('Jai', 'Msc'): [0], ('Princi', 'Msc'): [6], ('Princi', 'Phd'): [3]}

In [13]:
gk=df.groupby(["Name","Age"])
print(gk.groups)

{('Abhi', 32): [7], ('Anuj', 24): [1], ('Anuj', 36): [5], ('Gaurav', 33): [4], ('Jai', 22): [2], ('Jai', 27): [0], ('Princi', 27): [6], ('Princi', 32): [3]}

In [14]:
# importing pandas module
import pandas as pd

# Define a dictionary containing employee data
data1 = {'Name':['Jai', 'Anuj', 'Jai', 'Princi',
				'Gaurav', 'Anuj', 'Princi', 'Abhi'],
		'Age':[27, 24, 22, 32,
			33, 36, 27, 32],
		'Address':['Nagpur', 'Kanpur', 'Allahabad', 'Kannuaj',
				'Jaunpur', 'Kanpur', 'Allahabad', 'Aligarh'],
		'Qualification':['Msc', 'MA', 'MCA', 'Phd',
						'B.Tech', 'B.com', 'Msc', 'MA']}
	

# Convert the dictionary into DataFrame
df = pd.DataFrame(data1)

print(df)

     Name  Age    Address Qualification
0     Jai   27     Nagpur           Msc
1    Anuj   24     Kanpur            MA
2     Jai   22  Allahabad           MCA
3  Princi   32    Kannuaj           Phd
4  Gaurav   33    Jaunpur        B.Tech
5    Anuj   36     Kanpur         B.com
6  Princi   27  Allahabad           Msc
7    Abhi   32    Aligarh            MA

In [15]:
print(df)

     Name  Age    Address Qualification
0     Jai   27     Nagpur           Msc
1    Anuj   24     Kanpur            MA
2     Jai   22  Allahabad           MCA
3  Princi   32    Kannuaj           Phd
4  Gaurav   33    Jaunpur        B.Tech
5    Anuj   36     Kanpur         B.com
6  Princi   27  Allahabad           Msc
7    Abhi   32    Aligarh            MA

In [16]:
df.groupby(["Age"])["Name"].sum()

Age
22           Jai
24          Anuj
27     JaiPrinci
32    PrinciAbhi
33        Gaurav
36          Anuj
Name: Name, dtype: object

In [19]:
gk=df.groupby(["Name","Age"]).sum()
gk

              Address Qualification
Name   Age
Abhi   32     Aligarh            MA
Anuj   24      Kanpur            MA
       36      Kanpur         B.com
Gaurav 33     Jaunpur        B.Tech
Jai    22   Allahabad           MCA
       27      Nagpur           Msc
Princi 27   Allahabad           Msc
       32     Kannuaj           Phd

In [20]:
df.groupby(["Name"])["Age"].sum()

Name
Abhi      32
Anuj      60
Gaurav    33
Jai       49
Princi    59
Name: Age, dtype: int64

In [21]:
df.groupby(["Name"])["Age"].mean()

Name
Abhi      32.0
Anuj      30.0
Gaurav    33.0
Jai       24.5
Princi    29.5
Name: Age, dtype: float64

In [58]:
df1=df.copy()

In [9]:
# importing pandas module
import pandas as pd

# Define a dictionary containing employee data
data1 = {'Name':['Jai', '', 'Jai', '',
				'Gaurav', 'Anuj', 'Princi', 'Abhi'],
		'Age':[27,'',22, 32,
			33, 36,"",32],
		'Address':['Nagpur', 'Kanpur', 'Allahabad', 'Kannuaj',
				'Jaunpur', 'Kanpur', 'Allahabad', 'Aligarh'],
		'Qualification':['Msc', 'MA', 'MCA', 'Phd',
						'B.Tech', 'B.com', 'Msc', 'MA']}
	

# Convert the dictionary into DataFrame
df = pd.DataFrame(data1)

print(df)

     Name Age    Address Qualification
0     Jai  27     Nagpur           Msc
1                 Kanpur            MA
2     Jai  22  Allahabad           MCA
3          32    Kannuaj           Phd
4  Gaurav  33    Jaunpur        B.Tech
5    Anuj  36     Kanpur         B.com
6  Princi      Allahabad           Msc
7    Abhi  32    Aligarh            MA

In [10]:
#Replace method(df2)

In [11]:
df2=df.copy()

In [25]:
#replaceing null values with no name with replace method
df2["Name"].replace("","no value",inplace=True)

In [30]:
import numpy as np
from scipy import stats

In [50]:
#mode value 
mode1 = stats.mode(df2["Name"])
print(mode1[0][0])

Jai

<ipython-input-50-f935e4bb530d>:2: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode1 = stats.mode(df2["Name"])
<ipython-input-50-f935e4bb530d>:2: DeprecationWarning: Support for non-numeric arrays has been deprecated as of SciPy 1.9.0 and will be removed in 1.11.0. `pandas.DataFrame.mode` can be used instead, see https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.mode.html.
  mode1 = stats.mode(df2["Name"])

In [51]:
# ##replaceing null values with modal value with replace method.
# df2["Name"].replace('no value',np.mode(df2['Name']))
df2["Name"].replace("no value",str(mode1[0][0]))

0       Jai
1       Jai
2       Jai
3       Jai
4    Gaurav
5      Anuj
6    Princi
7      Abhi
Name: Name, dtype: object

In [36]:
df2["Name"]

0         Jai
1    no value
2         Jai
3    no value
4      Gaurav
5        Anuj
6      Princi
7        Abhi
Name: Name, dtype: object

In [ ]:
#fillna method(df3)

In [52]:
df3=df.copy()

In [53]:
print(df3)

     Name Age    Address Qualification
0     Jai  27     Nagpur           Msc
1                 Kanpur            MA
2     Jai  22  Allahabad           MCA
3          32    Kannuaj           Phd
4  Gaurav  33    Jaunpur        B.Tech
5    Anuj  36     Kanpur         B.com
6  Princi      Allahabad           Msc
7    Abhi  32    Aligarh            MA

In [70]:
df3.replace("",np.nan,inplace=True)

In [74]:
df3["Age"].fillna(np.mean(df3["Age"]))

0    27.000000
1    30.333333
2    22.000000
3    32.000000
4    33.000000
5    36.000000
6    30.333333
7    32.000000
Name: Age, dtype: float64

In [76]:
df3["Age"].fillna(method="ffill")

0    27.0
1    27.0
2    22.0
3    32.0
4    33.0
5    36.0
6    36.0
7    32.0
Name: Age, dtype: float64

In [97]:
df3["Age"].fillna(np.nan)
df3["Age"]

0    27.0
1     NaN
2    22.0
3    32.0
4    33.0
5    36.0
6     NaN
7    32.0
Name: Age, dtype: float64

In [99]:
df3["Age"]

0    27.0
1     NaN
2    22.0
3    32.0
4    33.0
5    36.0
6     NaN
7    32.0
Name: Age, dtype: float64

In [77]:
df3["Age"].fillna(method="bfill")

0    27.0
1    22.0
2    22.0
3    32.0
4    33.0
5    36.0
6    32.0
7    32.0
Name: Age, dtype: float64

In [79]:
data=df3.ffill().bfill()
data

     Name   Age    Address Qualification
0     Jai  27.0     Nagpur           Msc
1     Jai  27.0     Kanpur            MA
2     Jai  22.0  Allahabad           MCA
3     Jai  32.0    Kannuaj           Phd
4  Gaurav  33.0    Jaunpur        B.Tech
5    Anuj  36.0     Kanpur         B.com
6  Princi  36.0  Allahabad           Msc
7    Abhi  32.0    Aligarh            MA

In [80]:
# importing pandas module
import pandas as pd

# Define a dictionary containing employee data
data1 = {'Name':['Jai', '', 'Jai', '',
				'Gaurav', 'Anuj', 'Princi', 'Abhi'],
		'Age':[27,'','', 32,
			33, 36,12,32],
		'Address':['Nagpur', 'Kanpur', 'Allahabad', 'Kannuaj',
				'Jaunpur', 'Kanpur', 'Allahabad', 'Aligarh'],
		'Qualification':['Msc', 'MA', 'MCA', 'Phd',
						'B.Tech', 'B.com', 'Msc', 'MA']}
	

# Convert the dictionary into DataFrame
df = pd.DataFrame(data1)

print(df)

     Name Age    Address Qualification
0     Jai  27     Nagpur           Msc
1                 Kanpur            MA
2     Jai      Allahabad           MCA
3          32    Kannuaj           Phd
4  Gaurav  33    Jaunpur        B.Tech
5    Anuj  36     Kanpur         B.com
6  Princi  12  Allahabad           Msc
7    Abhi  32    Aligarh            MA

In [81]:
#for both b and f fill
df4=df.copy()

In [90]:
df4["Age"].replace('',np.nan,inplace=True)
df4["Age"]
data=df4.bfill().ffill()
data

     Name   Age    Address Qualification
0     Jai  27.0     Nagpur           Msc
1          32.0     Kanpur            MA
2     Jai  32.0  Allahabad           MCA
3          32.0    Kannuaj           Phd
4  Gaurav  33.0    Jaunpur        B.Tech
5    Anuj  36.0     Kanpur         B.com
6  Princi  12.0  Allahabad           Msc
7    Abhi  32.0    Aligarh            MA